# Database
MARIA_DB_HOST=
MARIA_DB_PORT=3306
MARIA_DB_ID=
MARIA_DB_PW=
MARIA_DB_NAME=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Amoremall scraping credentials
AMOREMALL_ID=ap55003204
AMOREMALL_PW=qwerqwer21

# Slack (optional)
SLACK_WEBHOOK_URL=
