@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 모바일 확대 방지 */
  input,
  textarea,
  select {
    touch-action: manipulation;
  }

  /* 추가 확대 방지 */
  html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}
