name: Deploy official-website to Polymorph K8s Production

on:
  push:
    branches: ["main"]
    paths:
      # official-website와 관련된 코드가 바뀔 때만 실행
      - "apps/official-website/**"
      - "packages/**" # 공통 패키지 변경 시에도 재배포 필요
      - ".github/workflows/official-website-deploy-polymorph-k8s-prd.yaml"
      - "package.json"
      - "pnpm-lock.yaml"
  # 수동 실행 버튼 활성화
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: registry.polymorph.co.kr
          username: ${{ secrets.POLYMORPH_DOCKER_REG_ID }}
          password: ${{ secrets.POLYMORPH_DOCKER_REG_PW }}

      # 도커 이미지 빌드 및 푸시
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: . # 프로젝트 루트 디렉토리를 컨텍스트로 지정
          file: apps/official-website/Dockerfile
          push: true
          tags: registry.polymorph.co.kr/official-website:${{ github.sha }}
          provenance: false
          sbom: false

      # polymorph-k8s 저장소의 이미지 태그 업데이트
      - name: Update image tag in polymorph-k8s
        run: |
          git clone https://x-access-token:${{ secrets.POLYMORPH_GIT_PAT }}@github.com/polym-team/polymorph-k8s.git
          cd polymorph-k8s

          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"

          # official-website 디렉토리의 deployment.yaml 이미지 태그 수정
          sed -i "s|image: registry.polymorph.co.kr/official-website:.*|image: registry.polymorph.co.kr/official-website:${{ github.sha }}|g" manifests/official-website/deployment.yaml

          git add manifests/official-website/deployment.yaml
          git commit -m "chore(official-website): update image to ${{ github.sha }}"
          git push
